/* import "/style.scss"; */ 

@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@200&family=Noto+Sans+JP&family=Patua+One&family=Permanent+Marker&family=Roboto:ital,wght@1,700&display=swap');


body {
  display: grid;
  /* width: 100%; 
    height: 100%; */
    font-family: 'Patua One', cursive;
  grid-template-columns: 0.2fr 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "nav main";
}

nav {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-area: nav;
  background-color: rgb(29, 109, 29);;
  border: 5px solid black;
  height: 100vh;
}

.navbar-home-content-text, 
.navbar-your-projects-title-text {
  color: white;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
} 

header {
  grid-area: header;
} 

main {
  grid-area: main;
  width: auto;
  background-color: rgb(70, 176, 218);
}

.header-container {
  background-color: rgb(29, 109, 29);
  grid-area: header;
  padding: 10px;
  border: 5px solid black;
} 

.header-title-text-to-do-list { 
 font-size: 5rem;
  text-align: center; 
  text-decoration: underline;
  color: white;
}

#add-project-btn { 
  font-size: 1.5rem;
  color: white; 
  background-color: rgb(29, 109, 29);
  border: none;
  font-family: 'Patua One', cursive;
}  

#add-project-btn:hover { 
  color: white; 
  background-color: rgb(29, 109, 29);
  border: none;
  font-size: 2rem;
  font-family: 'Patua One', cursive;
} 

.project-input-field-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
} 

.input-field-text { 
  font-size: 1.5rem;
  width: 240px; 
} 

.btn-container { 
  display: flex;
  gap: 1em; 
} 

.add-btn, 
.cancel-btn { 
  font-size: 1.2rem; 
  background-color: red;
  color: white; 
  font-family: 'Patua One', cursive;
} 

.add-btn { 
  background-color: green;
} 

.todo-pop-up-practice { 
  display: flex;
  justify-content: center;
  width: 100%; 
  height: 100%;
  font-size: 3rem;
  background-color: green;
  color: white;
}  

.project-section-name-btn-div {
  font-size: 2rem; 
  color: white;
  text-align: center;
}  

.main-content-section-project-name-div { 
  font-size: 5rem;
  color: white; 
  text-align: center;
}

