// $header-color: rgb(107, 212, 107);


// .header-container {
//     background-color: $header-color;
//     grid-area: header;
//     padding: 10px;
//     border: 5px solid black;
//   } 

  // * { 
  //   background-color: black;
  //   font-size: 5rem;
  // } 

  // sass playground 5/9/23 

//    $body-color: red;

//    $random-color: yellow; 

 
// .header-title-text-to-do-list { 
//   color: $body-color;
// }


// #navbar-your-projects-title-text { 
//   color: $random-color;
//   font-size: 46px;
  
// } 

/* sass variables,  

.header-title-text-to-do-list { 
 font-size: 5rem;
  text-align: center; 
  text-decoration: underline;
  color: white;
}

  nesting 

  mixins */ 

  $mainHeaderColor: white; 

  $mainHeaderFontSize: 5rem; 

  $mainHeaderTextAlign: center; 

  $mainHeaderTextDecoration: underline; 

#navbar-project-names-go-here { 
  font-size: 2.3rem; 
  text-decoration: underline;
} 

.header-title-text-to-do-list { 
  font-size: $mainHeaderFontSize;
  text-align: $mainHeaderTextAlign; 
  text-decoration: $mainHeaderTextDecoration;
  color: $mainHeaderColor;
} 

// #navbar-your-projects-title-text { 
//   @include stylesForYourProjectsText;
// }


//  @mixin stylesForYourProjectsText { 
//   color: white;
//   text-align: center;
//   font-size: 2rem;
//   text-decoration: underline;
//  }
