@mixin stylesForYourProjectsText { 
 color: white;
 text-align: center;
 font-size: 2.5rem;
 text-decoration: underline;
}



#navbar-your-projects-title-text { 
  @include stylesForYourProjectsText;
}



  $mainHeaderColor: white; 

  $mainHeaderFontSize: 5rem; 

  $mainHeaderTextAlign: center; 

  $mainHeaderTextDecoration: underline; 

#navbar-project-names-go-here { 
  font-size: 2.3rem; 
  text-decoration: underline;
} 

.header-title-text-to-do-list { 
  font-size: $mainHeaderFontSize;
  text-align: $mainHeaderTextAlign; 
  text-decoration: $mainHeaderTextDecoration;
  color: $mainHeaderColor;
} 

