/* import "/style.scss"; */ 

@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@200&family=Noto+Sans+JP&family=Patua+One&family=Permanent+Marker&family=Roboto:ital,wght@1,700&display=swap');



.modal { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 0.4rem; */
  width: 450px;
  /* padding: 1.3rem; */
  min-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: darkblue;
  border: 1px solid #ddd;
  border-radius: 15px;
  color: white;
  z-index: 3;
}  

.modal-header-text { 
  text-align: center;
  font-size: 2rem;
} 

.Add-Project-btn { 
  /* width: 40px;  */
  font-size: 1.5rem; 
  
} 

.input-field-modal { 
  font-size: 1.5rem;
}



.close-btn { 
  position: relative;
  /* right: 55px; */
  font-size: 1rem; 
  width: 25px; 
  left: -210px; 
  bottom: 160px;  
}

.overlay { 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: -1;
}






body {
  display: grid;
  /* width: 100%; 
    height: 100%; */
    font-family: 'Patua One', cursive;
  grid-template-columns: 0.2fr 1fr;
  grid-template-areas:
    "header header"
    "nav main"
    "nav main";
}

nav {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-area: nav;
  /* background-color: rgb(29, 109, 29);; */
  background-color: darkblue;
  border: 5px solid black;
  height: 100vh;
}

#navbar-home-content-text, 
#navbar-your-projects-title-text {
  color: white;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
} 

header {
  grid-area: header;
} 

main {
  grid-area: main;
  width: auto;
  /* background-color: rgb(70, 176, 218); */
  background-color: rgb(240, 227, 227);
}

.header-container {
  /* background-color: rgb(29, 109, 29); */
  background-color: darkblue;
  grid-area: header;
  padding: 10px;
  border: 5px solid black;
} 

/* .header-title-text-to-do-list { 
 font-size: 5rem;
  text-align: center; 
  text-decoration: underline;
  color: white;
} */

#add-project-btn { 
  font-size: 1.5rem;
  color: white; 
  /* background-color: rgb(29, 109, 29); */
  background-color: darkblue;
  border: none;
  font-family: 'Patua One', cursive;
}  

#add-project-btn:hover { 
  color: white; 
  /* background-color: rgb(29, 109, 29); */
  background-color: darkblue;
  border: none;
  font-size: 2rem;
  font-family: 'Patua One', cursive;
} 

.project-input-field-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
} 

.input-field-text { 
  font-size: 1.5rem;
  width: 240px; 
} 

.btn-container { 
  display: flex;
  gap: 1em; 
} 

.add-btn, 
.cancel-btn { 
  font-size: 1.2rem; 
  background-color: red;
  color: white; 
  font-family: 'Patua One', cursive;
} 

.add-btn { 
  background-color: green;
} 

.todo-pop-up-container{ 
  /* display: flex;
  justify-content: center; */
  position: absolute;
  top: 80%; 
  left: 60%; 
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 50%; 
  width: 50%;
  padding: 25px; 
  /* font-size: 3rem;
  background-color: white;
  color: black; */
}   

.submit-task-btn-pop-up-field { 
  display: flex; 
  justify-content: center;
  color: white;
  background-color: black;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px; 
  width: auto;
} 

.pop-up-content { 
  background-color: rgba(0, 0, 0, 0.6) ;
  height: 100%; 
  width: 100%; 
  position: absolute;
  top: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}  

/* .title-input-field-styles { 
  width: 100%;
} */ 

.create-to-do-form-btn { 
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.close-btn-to-do-input { 
  position: absolute;
  top: -5px; 
  left: -8px; 
  background: #fff;
  height: 20px; 
  width: 20px;
  border-radius: 50%; 
  cursor: pointer;

} 

#project-todos-container { 
 display: flex;
 flex-direction: row;
 gap: 0.5em;
 flex-wrap: wrap;
}

.submit-task-btn-container-styles { 
  display: flex;
  justify-content: center;
  margin: 15px; 
}

/* .pop-up-content { 
  position: relative;
} */

.project-section-name-btn-div {
  font-size: 2rem; 
  color: white;
  text-align: center;
}  

.main-content-section-project-name-div { 
  font-size: 5rem;
  color: white; 
  text-align: center;
} 

/* .project-names-styles-navbar-section { 
  text-align: center;
  color: white; 
  font-size: 3rem; 
}  */


/* .project-name-div-styles-main { 
  font-size: 5rem; 
  text-align: center;
  color: white; 
}  */


#navbar-project-names-go-here { 
  font-size: 2rem; 
  color: white; 
  text-align: center;
}

.project-name-click-event-container-for-styles { 
  font-size: 3rem;
  text-align: center;
  color: darkblue;
} 

/* .add-btn-svg-project-name-styles { 
  height: 1em; 
  width: 1em; 
} */ 

.delete-btn-trash-can-svg-icon-styles, 
.add-btn-svg-project-name-styles { 
  height: 1em; 
  width: 1em; 
}

.add-delete-btn-for-todo-container-styles { 
  font-size: 2rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  gap: 1em; 
} 

.edit-element-todo-item-styles { 
  height: 30px; 
  width: 30px; 
  background-color: white;
  margin-left: 0.20em;
}

.check-box-element-todo-styles { 
  width: 30px; 
  height: 30px; 
} 

.delete-icon-todo-item-styles { 
  width: 30px;
  background-color: white;
} 

.task-holder-for-todo-styles { 
  background-color: darkblue;
  color: white; 
  line-height: 0.5em;
  text-align: center;
  width: 275px; 
  border: 5px solid black; 
}

/* styles for add todo pop-up modal */ 

.modal-todo { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%; 
  background-color: darkblue;
  border: 1px solid #ddd;
  border-radius: 15px;
}

.modal-todo .flex-for-todo-modal { 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.modal-todo input { 
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
} 

/* experimenting with normal width btn size */ 

#add-task-todo-modal { 
 font-size: 1.5rem; 
 background-color: darkblue;
 color: white; 
 font-weight: bold;
}

.modal-todo > label { 
  color: white;
} 


.overlay-for-todo-modal { 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
} 

.modal-todo { 
  z-index: 2;
}

/* .modal-todo h1 { 
 display: flex;
 justify-content: center;
} */

.close-the-todo-modal { 
  position: relative; 
  font-size: 1.5rem; 
  width: 35px; 
  left: -295px; 
  bottom: 55px;  

}



.modal-todo label { 
  text-align: center;
}

.modal-todo h1 { 
  font-size: 2.5rem; 
} 


/* begin edit todo modal styles here */ 



.modal-edit-todo { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 450px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%; 
  background-color: darkblue;
  border: 1px solid #ddd;
  border-radius: 15px;
} 


.modal-edit-todo .flex-for-edit-todo-modal { 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
} 

.modal-edit-todo input { 
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 0.9em;
} 

.modal-edit-todo > label { 
  color: white;
} 

.overlay-for-todo-modal-edit { 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
} 


.modal-edit-todo { 
  z-index: 2;
} 

.close-the-todo-modal-edit { 
  position: relative; 
  font-size: 1.5rem; 
  width: 35px; 
  left: -295px; 
  bottom: 55px;  
} 

.modal-edit-todo label { 
  text-align: center;
} 

.modal-edit-todo h1 { 
  font-size: 2.5rem;
}





/* styles for delete btn for todo modal */ 

.modal-for-delete-btn-todo { 
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 1.4rem; */
  width: 400px;
  padding: 1rem;
  min-height: 250px;
  position: absolute;
  top: 50%;
  left: 50%; 
  background-color: darkblue;
  border: 1px solid black;
  border-radius: 15px;
  /* font-size: 1rem;  */
  color: white; 
} 

.flex-for-delete-btn-modal { 
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em; 
} 


.overlay-for-todo-delete-btn { 
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
} 

.modal-for-delete-btn-todo { 
  z-index: 2;
}



/* media query practice working on response design, 

making sure everything looks ok on mobile, 

lets spend a little time, just playing around with the layout 

shrinking it's size */ 


/* shrink the size of the main content todo items when page resizes so no content can overflow */ 

/* left off here, fix the modals for ipad */ 


@media (max-width: 1800px) { 
  body { 
    display: flex;
    flex-direction: column;
  } 

  #project-todos-container { 
    display: flex;
    justify-content: center;
    
  } 

  .modal-todo { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 250px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    /* top: 10%; */
    left: 40%; 
    background-color: darkblue;
    border: 1px solid #ddd;
    border-radius: 15px;
  }

  .modal-todo h1 { 
    font-size: 1.4rem;
  } 

  .modal-todo label { 
    font-size: 1rem;
  }

  .modal-todo input { 
    width: auto; 
    /* height: 150px  */
  } 

  .close-the-todo-modal { 
    position: relative;
    left: -175px;
    top: 2px;
  } 

  .modal-for-delete-btn-todo { 
    width: 250px;
    position: absolute;
    left: 40%; 
    /* top: 15%; */
  } 

  .modal-for-delete-btn-todo h1 { 
    font-size: 1rem;
  } 
  .modal-edit-todo { 
    width: 250px; 
    position: absolute;
    left: 40%; 
    /* top: 50%; */
  } 

  .close-the-todo-modal-edit { 
    /* width: 250px;  */
    position: absolute;
    left: 10%; 
    bottom: 90%;
  } 

  .modal { 
    position: absolute;
    left: 28%; 
  }

} 



@media (max-width: 430px) { 
  body { 
    display: flex;
    flex-direction: column;
  } 

  .header-title-text-to-do-list { 
    font-size: 2.2rem; 
  }  

  main { 
    width: auto;
    height: auto; 
    padding: 25px;
  } 

  nav { 
    width: auto; 
    height: auto; 
    font-size: 1.2rem;
    /* display: flex;
    flex-direction: column; */
  } 
  #form-tag-for-modal { 
    position: fixed;
    left: 0%; 
    bottom: 50%; 
    width: 2em;
  } 
  
  .modal-header-text { 
    font-size: 1.5rem; 

  } 

  .modal {
    width: 255px; 
  } 

  .modal > input { 
    width: 230px; 
    font-size: 1rem;
  } 

  .modal > button { 
    font-size: 1rem;
  } 

  .close-btn { 
    position: relative;
    left: -7em;
  } 

  nav { 
    height: 500px; 
  } 

  .modal-todo { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 250px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 10%;
    left: 10%; 
    background-color: darkblue;
    border: 1px solid #ddd;
    border-radius: 15px;
  }

  .modal-todo h1 { 
    font-size: 1.4rem;
  } 

  .modal-todo label { 
    font-size: 1rem;
  }

  .modal-todo input { 
    width: auto; 
    /* height: 150px  */
  } 

  .close-the-todo-modal { 
    position: relative;
    left: -155px;
    top: 2px;
  } 

  /* left off here 5/8/23 */ 

  .modal-for-delete-btn-todo { 
    width: 250px;
    position: absolute;
    left: 15%; 
    top: 15%;
  } 

  .modal-for-delete-btn-todo h1 { 
    font-size: 1rem;
  } 

  .modal-edit-todo { 
    width: 250px; 
    position: absolute;
    left: 20%; 
    top: 80%;
  } 

  .close-the-todo-modal-edit { 
    /* width: 250px;  */
    position: absolute;
    left: 5%; 
    bottom: 90%;
  }
}




@media (max-width: 400px) { 

  body { 
    display: flex;
    flex-direction: column;
  } 

  .header-title-text-to-do-list { 
    font-size: 2.2rem; 
  }  

  main { 
    width: auto;
    height: auto; 
    padding: 25px;
  } 

  nav { 
    width: auto; 
    height: auto; 
    font-size: 1.2rem;
    /* display: flex;
    flex-direction: column; */
  } 
  #form-tag-for-modal { 
    position: fixed;
    left: 0%; 
    bottom: 50%; 
    width: 2em;
  } 
  
  .modal-header-text { 
    font-size: 1.5rem; 

  } 

  .modal {
    width: 255px; 
  } 

  .modal > input { 
    width: 230px; 
    font-size: 1rem;
  } 

  .modal > button { 
    font-size: 1rem;
  } 

  .close-btn { 
    position: relative;
    left: -7em;
  } 

  nav { 
    height: 500px; 
  } 

  .modal-todo { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 250px;
    padding: 1.3rem;
    min-height: 250px;
    position: absolute;
    top: 10%;
    left: 10%; 
    background-color: darkblue;
    border: 1px solid #ddd;
    border-radius: 15px;
  }

  .modal-todo h1 { 
    font-size: 1.4rem;
  } 

  .modal-todo label { 
    font-size: 1rem;
  }

  .modal-todo input { 
    width: auto; 
    /* height: 150px  */
  } 

  .close-the-todo-modal { 
    position: relative;
    left: -155px;
    top: 2px;
  } 

  /* left off here 5/8/23 */ 

  .modal-for-delete-btn-todo { 
    width: 250px;
    position: absolute;
    left: 15%; 
    top: 15%;
  } 

  .modal-for-delete-btn-todo h1 { 
    font-size: 1rem;
  } 

  .modal-edit-todo { 
    width: 250px; 
    position: absolute;
    left: 15%; 
    top: 15%;
  } 

  .close-the-todo-modal-edit { 
    /* width: 250px;  */
    position: absolute;
    left: 5%; 
    bottom: 90%;
  }
} 


@media (max-width: 740px) { 
  body { 
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */ 
    flex-direction: column;
  } 

  main { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */ 
  }

  #project-todos-container { 
    display: flex;
    justify-content: center;
    
  }
} 


@media (max-width: 1120px) { 
   #project-todos-container { 
    display: flex;
    font-size: 0.8rem;
  } 

  /* .task-holder-for-todo-styles { 
    line-height: 0; 
  } */

}

/* @media (max-width: 600px) { 
  body { 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  } 

  nav { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } 

  main { 
    overflow: auto;
    flex-wrap: wrap;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
  }
} */
 
/* 
@media (max-width: 400px) { 
  #form-tag-for-modal { 
    position: fixed;
    left: 0%; 
    bottom: 50%; 
    width: 2em;
  } 
  
  .modal-header-text { 
    font-size: 1.5rem; 

  } 

  .modal {
    width: 150px; 
  } 

  .modal > input { 
    width: 50px; 
  }
} */





























/* import "/style.scss"; 

@import url('https://fonts.googleapis.com/css2?family=Noto+Rashi+Hebrew:wght@200&family=Noto+Sans+JP&family=Patua+One&family=Permanent+Marker&family=Roboto:ital,wght@1,700&display=swap'); */


/* body {
  display: grid;
  /* width: 100%; 
    height: 100%; */
    /* font-family: 'Patua One', cursive; */
  /* grid-template-columns: 0.2fr 1fr; */ 
  /* grid-template-areas:
    "header header"
    "nav main"
    "nav main"; */
/* } */

/* nav {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  grid-area: nav;
  background-color: rgb(29, 109, 29);;
  border: 5px solid black;
  height: 100vh;
} */

/* .navbar-home-content-text, 
.navbar-your-projects-title-text {
  color: white;
  text-align: center;
  font-size: 2rem;
  text-decoration: underline;
}  */

/* header {
  grid-area: header;
}  */

/* main {
  grid-area: main;
  width: auto;
  background-color: rgb(70, 176, 218);
} */

/* .header-container {
  background-color: rgb(29, 109, 29);
  grid-area: header;
  padding: 10px;
  border: 5px solid black;
}  */

/* .header-title-text-to-do-list { 
 font-size: 5rem;
  text-align: center; 
  text-decoration: underline;
  color: white;
} */

/* #add-project-btn { 
  font-size: 1.5rem;
  color: white; 
  background-color: rgb(29, 109, 29);
  border: none;
  font-family: 'Patua One', cursive;
}   */

/* #add-project-btn:hover { 
  color: white; 
  background-color: rgb(29, 109, 29);
  border: none;
  font-size: 2rem;
  font-family: 'Patua One', cursive;
}  */

/* .project-input-field-container { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}  */

/* .input-field-text { 
  font-size: 1.5rem;
  width: 240px; 
}  */

/* .btn-container { 
  display: flex;
  gap: 1em; 
}  */
/* 
.add-btn, 
.cancel-btn { 
  font-size: 1.2rem; 
  background-color: red;
  color: white; 
  font-family: 'Patua One', cursive;
}  */

/* .add-btn { 
  background-color: green;
}  */
/* 
.todo-pop-up-container{ 
  /* display: flex;
  justify-content: center; */
  /* position: absolute;
  top: 80%; 
  left: 60%; 
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: white;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  height: 50%; 
  width: 50%; */
  /* padding: 25px;  */
  /* font-size: 3rem;
  background-color: white;
  color: black; */
  

/* .submit-task-btn-pop-up-field { 
  display: flex; 
  justify-content: center;
  color: white;
  background-color: black;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 5px; 
  width: auto;
}  */
/* 
.pop-up-content { 
  background-color: rgba(0, 0, 0, 0.6) ;
  height: 100%; 
  width: 100%; 
  position: absolute;
  top: 0; 
  display: flex;
  justify-content: center;
  align-items: center;
}   */

/* .title-input-field-styles { 
  width: 100%;
} */

/* .close-btn-to-do-input { 
  position: absolute;
  top: -5px; 
  left: -8px; 
  background: #fff;
  height: 20px; 
  width: 20px;
  border-radius: 50%; 
  cursor: pointer;

}  */

/* .submit-task-btn-container-styles { 
  display: flex;
  justify-content: center;
  margin: 15px; 
} */

/* .pop-up-content { 
  position: relative;
} */

/* .project-section-name-btn-div {
  font-size: 2rem; 
  color: white;
  text-align: center;
}   */

/* .main-content-section-project-name-div { 
  font-size: 5rem;
  color: white; 
  text-align: center;
}  */

